<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Restaurant</h1>
      <p>
        <strong>Name:</strong>
        <%= @restaurant.name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Phone_number:</strong>
        <%= @restaurant.phone_number %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @restaurant.category %>
      </p>

          <h3>Review creation</h3>
          <p>You're about to create a review for restaurant <strong><%= @restaurant.name %></strong></p>

          <%= simple_form_for [@restaurant, @review] do |f| %>
            <%= f.input :content %>
            <%= f.input :rating %>
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          <% end %>

          <h3>Reviews</h3>
     <ul><% @reviews.each do |review| %>
       <li class="list-group-item list-group-item-warning">
         <%= review.content %>
         <strong><%= review.rating %>/5</strong>
       </li>
       <% end %>
       <li class="list-group-item list-group-item-warning">
         <%= link_to "Add New review", new_restaurant_review_path(@restaurant) , class: "btn btn-success"%>
       </li>
     </ul>




      <%= link_to 'All restaurants', restaurants_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>




